<ng-container *ngIf="volunteer.url">
  <a [href]="volunteer.url" class="organization">
    <div>{{volunteer.organization}}</div>
  </a>
</ng-container>
<ng-container *ngIf="!volunteer.url">
  <div class="organization">{{volunteer.organization}}</div>
</ng-container>

<div class="position">{{volunteer.position}}</div>

<div class="summary">{{volunteer.summary}}</div>
<div class="duration">
  <div class="start-date">{{volunteer.startDate}}</div>
  <div class="end-date">{{volunteer.endDate}}</div>
</div>

<div *ngIf="volunteer.highlights" class="highlights">
  <div *ngFor="let highlight of volunteer.highlights" class="highlight">{{highlight}}</div>
</div>