<div class="section-header"></div>

<div class="section-body">
  <ng-container *ngIf="name === 'basics'">
    <div class="name">{{resume.basics.name}}</div>
    <div *ngIf="resume.basics.label" class="label">{{resume.basics.label}}</div>
    
    <a *ngIf="resume.basics.email" class="email" [href]="'mailto:' + resume.basics.email">{{resume.basics.email}}</a>
    <a *ngIf="resume.basics.phone" class="phone" [href]="'tel:' + resume.basics.phone">{{resume.basics.phone}}</a>
    <div *ngIf="resume.basics.summary" class="summary">{{resume.basics.summary}}</div>
    
    <avatar *ngIf="resume.basics.email || resume.basics.picture" [email]="resume.basics.email" [picture]="resume.basics.picture"></avatar>
    
    <location *ngIf="resume.basics.location" [location]="resume.basics.location"></location>
    
    <div class="profiles" *ngIf="resume.basics.profiles">
      <profile *ngFor="let profile of resume.basics.profiles" [profile]="profile"></profile>
    </div>
  </ng-container>

  <ng-container *ngIf="name === 'work'" class="work-section">
    <work *ngFor="let work of resume.work" [work]="work"></work>
  </ng-container>

  <ng-container *ngIf="name === 'volunteer'" class="volunteer-section">
    <volunteer *ngFor="let volunteer of resume.volunteer" [volunteer]="volunteer"></volunteer>
  </ng-container>

  <ng-container *ngIf="name === 'education'" class="education-section">
    <education *ngFor="let education of resume.education" [education]="education"></education>
  </ng-container>

  <ng-container *ngIf="name === 'awards'" class="award-section">
    <award *ngFor="let award of resume.awards" [award]="award"></award>
  </ng-container>

  <ng-container *ngIf="name === 'publications'" class="publication-section">
    <publication *ngFor="let publication of resume.publications" [publication]="publication"></publication>
  </ng-container>

  <ng-container *ngIf="name === 'skills'" class="skill-section">
    <skill *ngFor="let skill of resume.skills" [skill]="skill"></skill>
  </ng-container>

  <ng-container *ngIf="name === 'languages'" class="language-section">
    <language *ngFor="let language of resume.languages" [language]="language"></language>
  </ng-container>

  <ng-container *ngIf="name === 'interests'" class="interest-section">
    <interest *ngFor="let interest of resume.interests" [interest]="interest"></interest>
  </ng-container>

  <ng-container *ngIf="name === 'references'" class="reference-section">
    <reference *ngFor="let reference of resume.references" [reference]="reference"></reference>
  </ng-container>

  <ng-container *ngIf="name === 'projects'" class="project-section">
    <project *ngFor="let project of resume.projects" [project]="project"></project>
  </ng-container>
</div>
