<div *ngIf="work.position" class="position">{{work.position}}</div>

<ng-container *ngIf="work.url">
  <a [href]="work.url" class="company">
    <div>{{work.company}}</div>
  </a>
</ng-container>
<ng-container *ngIf="!work.url">
  <div class="company">{{work.company}}</div>
</ng-container>

<div *ngIf="work.summary" class="summary">{{work.summary}}</div>
<div *ngIf="work.startDate && work.endDate" class="duration">
  <div *ngIf="work.startDate" class="start-date">{{work.startDate}}</div>
  <div *ngIf="work.endDate" class="end-date">{{work.endDate}}</div>
</div>

<div *ngIf="work.highlights" class="highlights">
  <div *ngFor="let highlight of work.highlights" class="highlight">{{highlight}}</div>
</div>
