<ng-container *ngIf="resume.basics">
  <app-avatar *ngIf="resume.basics" [email]="resume.basics.email" [picture]="resume.basics.picture"></app-avatar>

  <app-location *ngIf="resume.basics.location" [location]="resume.basics.location"></app-location>

  <ng-container *ngIf="resume.basics.profiles">
    <app-profile *ngFor="let profile of resume.basics.profiles" [profile]="profile"></app-profile>
  </ng-container>
</ng-container>

<div *ngIf="resume.work" class="work-section">
  <app-work *ngFor="let work of resume.work" [work]="work"></app-work>
</div>

<div *ngIf="resume.volunteer" class="volunteer-section">
  <app-volunteer *ngFor="let volunteer of resume.volunteer" [volunteer]="volunteer"></app-volunteer>
</div>

<div *ngIf="resume.education" class="education-section">
  <app-education *ngFor="let education of resume.education" [education]="education"></app-education>
</div>

<div *ngIf="resume.awards" class="award-section">
  <award *ngFor="let award of resume.awards" [award]="award"></award>
</div>
