@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
  --theme-elements: 2;
}

#colors() {
  primary: #343338;
  secondary: #008cc9;
  black: #333133;
  white: #f5f5f5;
  inverted: #f3f2f6;
  // inverted-background: #343338;
}

#font-sizes() {
  h1: 1.5rem;
  h2: 1.1rem;
  h3: 0.85rem;
  h4: 0.7rem;
}

@body-text-line-height: 1.5;
@sidebar-padding: 5mm;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.7rem;
  color: #colors[black];
}

.sheet {
  @c: #colors[white];
  background: @c !important;
}

a {
  @color: #colors[black];
  color: @color;
  text-decoration: none;
  
  &:hover, &:active {
    color: darken(@color, 15%);
    text-decoration: underline;
  }
}

.h { 
  font-family: 'Open Sans', sans-serif;
}

.h1 {
  font-size: #font-sizes[h1];
  font-weight: bold;
  line-height: 1;
}

.h2 {
  font-size: #font-sizes[h2];
  font-weight: bold;
  line-height: 1;
}

.h3 {
  @f: #font-sizes[h3];
  font-size: @f;
  font-weight: bold;
  margin-bottom: @f * 0.75;
  line-height: 1;
}

.p {
  margin-bottom: 0.6375rem;
}

.icon(@icon) {
  font-family: "icofont";
  margin-right: 0.25em;
  display: inline-block;
  content: @icon;
}

@media print, screen and (min-width: 210mm) {
  resume {
    display: grid;
    grid-template-columns: 60mm 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "sidebar main";

    theme-section.sidebar {
      grid-area: sidebar;
      background: #colors[primary];
      color: #colors[inverted];
      padding: 0 @sidebar-padding;

      resume-section.basics {
        display: grid;

        a {
          @c: #colors[inverted];
          color: @c;

          &:hover, &:active {
            color: darken(@c, 15%);
            text-decoration: none;
          }
        }

        avatar {
          position: relative;
          grid-row: 1;
          margin: 0 -@sidebar-padding;
          img[style] {
            width: 100% !important;
            height: auto !important;
          }
        }

        .sidebar-header {
          .h2();
          @color: #colors[secondary];
          text-transform: uppercase;
          border-bottom: @color 2px solid;
          padding-bottom: 2mm;
          margin-bottom: 4mm;
        }

        .name {
          .h1();
          grid-row: 2;
          text-align: center;
          text-transform: uppercase;
          margin-top: 1em;
          line-height: 1.1;
        }

        .label {
          grid-row: 3;
          text-align: center;
          margin-top: 0.75em;
          color: #colors[secondary];
        }

        &::before {
          .sidebar-header();
          grid-row: 4;
          content: "Contact";
          margin-top: 5mm;
        }

        .summary {
          display: none;
        }

        location {
          .p();
          grid-row: 5;
        }

        .contact-entry(@icon) {
          .p();
          display: flex;
          align-items: center;

          &::before {
            font-size: 1.5rem;
            .icon(@icon);
            margin-right: 0.5em;
          }
        }

        .email {
          grid-row: 6;
          .contact-entry("\ef12");
        }

        .phone {
          grid-row: 7;
          .contact-entry("\efec");
        }

        .profiles {
          profile {
            a {
              .contact-entry("\ef71");
            }

            &.twitter a {
              .contact-entry("\ed7a");
            }

            &.facebook a {
              .contact-entry("\ed37");
            }

            &.github a {
              .contact-entry("\ed3e");
            }

            &.stack-overflow a {
              .contact-entry("\ed70");
            }

            &.linkedin a {
              .contact-entry("\ed4d");
            }
          }
        }
      }
    }

    theme-section.main {
      grid-area: main;
      padding: 10mm;

      resume-section { 
        display: block;
        margin-bottom: 10mm;

        .section-header {
          .h2();
          @color: #colors[secondary];
          display: block;
          position: relative;
          text-transform: uppercase;
          border-bottom: @color 2px solid;
          padding-bottom: 0.25em;
          margin: 0 0 4mm 12mm;
  
          &::before {
            position: absolute;
            left: -12mm;
            top: -0.4em;
            padding: 0.4em;
            background: #colors[secondary];
            color: #colors[white];
            border-radius: 50%;
          }  
        }
      }

      resume-section.basics {
        .section-header { 
          &::before {
            .icon("\ecef");
          }

          &::after {
            content: "About me";
          }
        }

        .name, .label, .email, .phone, avatar, location, profile {
          display: none;
        }
      }

      resume-section.work {
        .section-header { 
          &::before {
            .icon("\eec2");
          }

          &::after {
            content: "Experiences";
          }
        }
      }

      resume-section.volunteer {
        .section-header { 
          &::before {
            .icon("\efc2");
          }

          &::after {
            content: "Volunteer";
          }
        }
      }
      
      
      resume-section.education {
        .section-header { 
          &::before {
            .icon("\eade");
          }

          &::after {
            content: "Education";
          }
        }
      }
      
      
      resume-section.awards {
        .section-header { 
          &::before {
            .icon("\eace");
          }

          &::after {
            content: "Awards";
          }
        }
      }
      
      
      resume-section.publications {
        .section-header { 
          &::before {
            .icon("\eae5");
          }

          &::after {
            content: "Publications";
          }
        }
      }
      
      
      resume-section.projects {
        .section-header { 
          &::before {
            .icon("\ef36");
          }

          &::after {
            content: "Projects";
          }
        }
      }
    
    }
  }
}

