<div *ngIf="education.institution" class="institution">{{education.institution}}</div>
<div *ngIf="education.area" class="area">{{education.area}}</div>
<div *ngIf="education.studyType" class="studyType">{{education.studyType}}</div>
<div *ngIf="education.startDate" class="startDate">{{education.startDate}}</div>
<div *ngIf="education.endDate" class="endDate">{{education.endDate}}</div>
<div *ngIf="education.gpa" class="gpa">{{education.gpa}}</div>

<div *ngIf="education.courses" class="courses">
  <div *ngFor="let course of education.courses" class="course">{{course}}</div>
</div>
